style.css
* ==============================
   Edit the CSS below to create your grid.
   ============================== */
 }
a link href="style.css" rel="stylesheet" type="text/css" />
*/ Basic Responsive Images and Video */

img,video{
  width: auto;
  height: auto;
  max-width: 100%;
}

@supports (grid-area: auto){
  article.main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas:
  
   
  "hero hero hero"
  "title detail detail"
  "intro detail detail"
  "text map map";
  
    grid-gap: 20px;
   
  }
    
  .heroimage { grid-area: hero; }
  .title { grid-area: title; }
  .intro { grid-area: intro; }
  .map { grid-area: map; }
  .detailimages { grid-area: detail; }           
  .text {grid-area: text; } 
            .more-articles {
                border-top: 1px solid #ffffff;
                padding: 15px;}
                .more-articles p { 
                border-bottom: 1px solid #807c72;
                padding: 5px 0px 15px 0px;
                font-size: 80%; } 
  .sidebar{ grid-area: content; } 
.footer{ grid-area:footer;}
   .footer li{display:inline;

} /* end @supports 



/* ---------------------------
  this uses flexbox to center the content in the boxes. it also gives them a some styling.
   The CSS below is not required for the grid layout. */
  

   .style type="text/css">
  
  header,article,sidebar,footer {
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: #cd6a51;
  border: 2px solid #333;
      
  /*  height: 10em;  */
}

}
header{
  background-color: #e0e0e0; color: lightsteelblue;
  }

article{
    background-color: #B0C4De; color:darkslategrey;   
  }

.sidebar{
  background-color: #778899; color: lightgrey;text-align: center;
}

.footer {
  background-color: #708090; color: lightsteelblue;
}


  .p4 {
  color: #fff; 
  font-weight: 300;
  font-size: 2em;
  font-family:Book Antiqua,Helvetica, Neue, Calibri, Arial, Open Sans, sans-serif;
 
}

sidebar {font-family:'Satisfy', sans-serif;
}

h3 {text-transform: uppercase;
}

h3 {font-family:'Averia Serif Libre', cursive;
}

h2 {
    color:lightsleelblue;
    text-shadow: -1px 0 grey, 0 1px slategrey, 1px 0 grey, 0 -1px darkslategrey;
}

h1 {text-shadow: 2px 2px 5px #000000;
}

p2 {font-family:Arial, Helvetica, sans-serif; 
}

p4 { font-family:'Irish Grover', cursive;
}

p6 {font-family: 'Kite One', sans-serif;}
  
p1 {font-family:'Averia Serif Libre', cursive;
}

p5 {font-family:'Arvo', Marck script, cursive;

}           

.p6 { 
 text-align:justify; 
 text-justify: inter-word;
}

.p1 {text-indent: 50px;
}

.introduction {color:#708090;
   font-family:'Mclaren', sans-serif, Book Antiqua;
 }

 .indent{text-indent: 40px;
}

a {color: #92a8d1;
}

a {font-family:Book Antiqua, Calibri;
}

  { 
line-height: 1.5em;
    font-size: 2em;
    font-weight: 600; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


img {
  border-radius: 10px;
}
figcaption {color: #lightgrey;
}

span.highlight { 
background-color:#cccccc;
 }

 ol{ background: #778899;
 padding:9px;
}

ol{list-style: none; counter-reset:li}

li::before {content: counter(li); color:#d3d3d3;
display: inline-block; width:1em;
margin-left: 0em
}

li {counter-increment:li

}


.topnav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
 }